#name {
    animation: rainbow 3s infinite;

}
@keyframes rainbow {
  0% { background-color: red; }
  16.6% { background-color: orange; }
  33.3% { background-color: yellow; }
  50% { background-color: green; }
  66.6% { background-color: blue; }
  83.3% { background-color: indigo; }
  100% { background-color: violet; }
}
